h2 {
    color: #00FF00;
}

body {
    background-color: black;
}

label {
    color: #00FF00;
}

iframe {
    width: 1000px;
    height: 450px;
    border: 2px solid #00FF00;
}

textarea {
    height: 4em;
    width: 75em;
    border: 2px solid #00FF00;
    color: #00FF00;
    resize: none;
    background-color: black;
}

input {
   background-color: black;
   border: 2px solid #00FF00;
   color: #00FF00;
}