<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <link href="../../css/chat.css" th:href="@{/css/chat.css}" rel="stylesheet" type="text/css">
    <meta charset="UTF-8">
    <title>Chattapplikation</title>
</head>
<body>
<h2>Chattapplikation</h2>
<iframe src="/chat-response"></iframe>
<form action="/add-message" method="post">
    <label>Namn: </label>
    <br/>
    <input type="text" name="senderName" th:value="${senderName}"/>
    <br/>
    <label>Meddelande: </label>
    <br/>
    <textarea id="text" name="text">Skriv ditt meddelande här...</textarea>
    <input type="submit" value="Skicka">
</form>
</body>
</html>